.c-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10%;
  width: 95%;
  /* color:rgb(155, 155, 155); */
  
}

span {
  cursor: pointer;
}

.c-header__links {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-right: 30px;
}

.c-header__icons {
  margin: 0 55px;
}

