header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid;
  height: 10vh;
  font-family: Montserrat;
}

span {
  margin: 0 10px;
}

span:hover {
  cursor: pointer;
}