.c-sidebar {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
}

.c-ul {
  color:rgb(155, 155, 155);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 30%;
  height: 25%;
}

.c-ul__items:hover ,
.c-brandsIcon__icons:hover {
  cursor: pointer;
}

.c-brandsIcon {
  margin-top: 10px;
  height: 100px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}